.modal{
    width: 650px !important;
    /* text-align: center; */
}
.name-modal{
    padding-bottom: 10px !important;
    font-size: 45px !important;
    color: rgb(165, 59, 59) !important;
    font-family: 'Beyond The Mountains', sans-serif !important;
}