
.mapWrap {
    position: relative;
    width: 200px;
    height: 180px;
  }
  
  .map {
    position: absolute;
    width: 300px;
    height: 200px;
  }
  .leaflet-bottom{
    display: none !important;
  }
.leaflet-control-attribution{
  display: none !important;
}
.leaflet-control{
  display: none !important;

}