@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&display=swap');
.delivery-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  /* Başlıq */
  .delivery-title {
    text-align: center;
    color: #333;
  }
  
  /* Hissə başlıqları */
  .section-title {
    color: #666;
    margin-bottom: 10px;
  }
  
  /* Sifariş xülasəsi */
  .order-summary p,
  .delivery-info p {
    margin: 5px 0;
  }
  
  /* Zaman sayacının dairəsi */
  .timer-circle {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Zamanın mətni */
  .timer-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
  }
  
  .delivery strong {
    color: red;
  }
  
  .delivery *:not(strong) {
    color: black;
    font-family: inherit;
  }
  .delivery h2 {
    font-size: 2rem; /* Başlık boyutu */
    margin-bottom: 10px;
  }
  
  .delivery h3 {
    font-size: 1.5rem; /* Alt başlık boyutu */
    margin-bottom: 8px;
  }
  
  .delivery p {
    font-size: 1rem; /* Paragraf boyutu */
    line-height: 1.6;
  }